flows.json
[{"id":"b937a168.83712","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"95eb6460.819668","type":"mqtt in","z":"b937a168.83712","name":"","topic":"test/message","qos":"2","datatype":"auto","broker":"520623d5.e8629c","x":190,"y":80,"wires":[["310a54dc.d478ac"]]},{"id":"310a54dc.d478ac","type":"ui_chart","z":"b937a168.83712","name":"","group":"46e56215.6f66ec","order":1,"width":12,"height":2,"label":"Temperature RPi","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff080f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#da2627","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":80,"wires":[[]]},{"id":"7f796682.2eaf08","type":"mqtt in","z":"b937a168.83712","d":true,"name":"","topic":"test/ram","qos":"2","datatype":"auto","broker":"520623d5.e8629c","x":180,"y":140,"wires":[["26e8e373.9fc3ec","637a0454.c0eb5c"]]},{"id":"59d9618d.456c3","type":"mqtt in","z":"b937a168.83712","d":true,"name":"","topic":"test/cpu","qos":"2","datatype":"auto","broker":"520623d5.e8629c","x":170,"y":200,"wires":[["26e8e373.9fc3ec","637a0454.c0eb5c"]]},{"id":"26e8e373.9fc3ec","type":"ui_chart","z":"b937a168.83712","d":true,"name":"","group":"46e56215.6f66ec","order":6,"width":1,"height":1,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff7900","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":350,"y":160,"wires":[[]]},{"id":"24e3fe33.2fb822","type":"mqtt in","z":"b937a168.83712","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"520623d5.e8629c","x":210,"y":340,"wires":[["2ee43ec6.de09e2","3fc8107e.072fb","9a28a5a.f392d58"]]},{"id":"2ee43ec6.de09e2","type":"ui_chart","z":"b937a168.83712","name":"","group":"46e56215.6f66ec","order":3,"width":4,"height":2,"label":"Temperature Ext","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":340,"wires":[[]]},{"id":"1d952472.555fbc","type":"mqtt in","z":"b937a168.83712","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"520623d5.e8629c","x":200,"y":420,"wires":[["e2bce85d.af7d18","78726321.0a75cc","190c8430.eb089c"]]},{"id":"e2bce85d.af7d18","type":"ui_chart","z":"b937a168.83712","name":"","group":"46e56215.6f66ec","order":4,"width":4,"height":2,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":420,"y":420,"wires":[[]]},{"id":"b2f47c69.13451","type":"mqtt in","z":"b937a168.83712","name":"","topic":"esp32/pressure","qos":"2","datatype":"utf8","broker":"520623d5.e8629c","x":200,"y":500,"wires":[["f22e18de.1636b8","4b1f2f0c.09b27","671b3b08.6736e4","48f8ea38.432584"]]},{"id":"f22e18de.1636b8","type":"ui_chart","z":"b937a168.83712","name":"","group":"46e56215.6f66ec","order":5,"width":4,"height":2,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":420,"y":500,"wires":[[]]},{"id":"e37da055.dc9a9","type":"ui_switch","z":"b937a168.83712","name":"","label":"switch","tooltip":"","group":"f639a438.81f128","order":4,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"esp32/relay","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":170,"y":660,"wires":[["3e1862dc.060f8e"]]},{"id":"3e1862dc.060f8e","type":"mqtt out","z":"b937a168.83712","name":"","topic":"esp32/relay","qos":"","retain":"","broker":"520623d5.e8629c","x":370,"y":700,"wires":[]},{"id":"3fc8107e.072fb","type":"ui_gauge","z":"b937a168.83712","name":"","group":"f639a438.81f128","order":1,"width":3,"height":2,"gtype":"gage","title":"Temp.","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":300,"wires":[]},{"id":"78726321.0a75cc","type":"ui_gauge","z":"b937a168.83712","name":"","group":"f639a438.81f128","order":2,"width":3,"height":2,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":380,"wires":[]},{"id":"4b1f2f0c.09b27","type":"ui_gauge","z":"b937a168.83712","name":"","group":"f639a438.81f128","order":3,"width":3,"height":2,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":"980","max":"1035","colors":["#ff0505","#e6e600","#2ef011"],"seg1":"","seg2":"","x":440,"y":460,"wires":[]},{"id":"ca222a92.060888","type":"mqtt out","z":"b937a168.83712","name":"","topic":"esp32/relay","qos":"","retain":"","broker":"520623d5.e8629c","x":1030,"y":60,"wires":[]},{"id":"4ad1695a.0b5328","type":"inject","z":"b937a168.83712","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"30 20 * * *","once":false,"onceDelay":0.1,"x":170,"y":740,"wires":[["3e1862dc.060f8e"]]},{"id":"97eca6db.09b7d8","type":"trigger","z":"b937a168.83712","d":true,"op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":820,"y":100,"wires":[["ca222a92.060888"]]},{"id":"e3613461.1b7358","type":"csv","z":"b937a168.83712","d":true,"name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":630,"y":240,"wires":[["b8b22732.0a66f8","77a9d6cb.5f96d8"]]},{"id":"77a9d6cb.5f96d8","type":"file","z":"b937a168.83712","d":true,"name":"","filename":"/home/pi/prova.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":890,"y":300,"wires":[[]]},{"id":"de9f4b43.79e4a8","type":"debug","z":"b937a168.83712","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"637a0454.c0eb5c","type":"join","z":"b937a168.83712","d":true,"name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":450,"y":220,"wires":[["de9f4b43.79e4a8","e3613461.1b7358"]]},{"id":"b8b22732.0a66f8","type":"debug","z":"b937a168.83712","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":240,"wires":[]},{"id":"9a8ff3a0.3f217","type":"join","z":"b937a168.83712","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":130,"y":1140,"wires":[["11b82aa0.b15705"]]},{"id":"11b82aa0.b15705","type":"csv","z":"b937a168.83712","name":"","sep":";","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":250,"y":1120,"wires":[["13803184.5670be","bc90c331.e0b5e"]]},{"id":"13803184.5670be","type":"debug","z":"b937a168.83712","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":1140,"wires":[]},{"id":"bc90c331.e0b5e","type":"file","z":"b937a168.83712","name":"","filename":"/home/pi/github/shiny_app/meteo.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":470,"y":1100,"wires":[[]]},{"id":"8159901d.19d82","type":"moment","z":"b937a168.83712","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Rome","adjAmount":"0","adjType":"hours","adjDir":"add","format":"D/MM/YYYY H:mm","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Rome","x":660,"y":580,"wires":[["c02fb74e.1c8da8"]]},{"id":"382b35a3.e123fa","type":"function","z":"b937a168.83712","name":"","func":"var now = new Date().toLocaleString(\"en-GB\");\nreturn {payload: now};","outputs":1,"noerr":0,"x":350,"y":880,"wires":[[]]},{"id":"c02fb74e.1c8da8","type":"join","z":"b937a168.83712","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":420,"wires":[["b9be08.306781f8","7ec39772.aad488","e6827745.6eebf8"]]},{"id":"671b3b08.6736e4","type":"trigger","z":"b937a168.83712","op1":"","op2":"","op1type":"date","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":440,"y":580,"wires":[["8159901d.19d82"]]},{"id":"9a28a5a.f392d58","type":"delay","z":"b937a168.83712","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":340,"wires":[["c02fb74e.1c8da8"]]},{"id":"190c8430.eb089c","type":"delay","z":"b937a168.83712","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":420,"wires":[["c02fb74e.1c8da8"]]},{"id":"48f8ea38.432584","type":"delay","z":"b937a168.83712","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":500,"wires":[["c02fb74e.1c8da8"]]},{"id":"6183380b.f88c38","type":"change","z":"b937a168.83712","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":940,"wires":[["91a37a36.352bd8"]]},{"id":"df1fcc78.1206e","type":"inject","z":"b937a168.83712","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":940,"wires":[["50538ad9.b05604"]]},{"id":"50538ad9.b05604","type":"moment","z":"b937a168.83712","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Rome","adjAmount":"0","adjType":"hours","adjDir":"add","format":"D/MM/YYYY;H:mm","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Rome","x":540,"y":940,"wires":[["684b75b8.41098c","6183380b.f88c38","e404fb30.c91f18"]]},{"id":"684b75b8.41098c","type":"debug","z":"b937a168.83712","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":900,"wires":[]},{"id":"91a37a36.352bd8","type":"debug","z":"b937a168.83712","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":920,"wires":[]},{"id":"e404fb30.c91f18","type":"join","z":"b937a168.83712","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":1060,"wires":[["f0fc6d4e.efcc4","3204684e.c7e478","86bf964e.1395c8"]]},{"id":"f0fc6d4e.efcc4","type":"csv","z":"b937a168.83712","name":"","sep":";","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":990,"y":1080,"wires":[[]]},{"id":"3204684e.c7e478","type":"debug","z":"b937a168.83712","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1020,"wires":[]},{"id":"38c2a2b5.844b4e","type":"inject","z":"b937a168.83712","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":1000,"wires":[["23d29acf.d80266"]]},{"id":"23d29acf.d80266","type":"moment","z":"b937a168.83712","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Rome","adjAmount":"0","adjType":"hours","adjDir":"add","format":"D/MM/YYYY;H:mm","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Rome","x":540,"y":1000,"wires":[["e404fb30.c91f18"]]},{"id":"86bf964e.1395c8","type":"file","z":"b937a168.83712","name":"","filename":"/home/pi/prova.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1090,"y":1180,"wires":[[]]},{"id":"b9be08.306781f8","type":"debug","z":"b937a168.83712","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":480,"wires":[]},{"id":"7ec39772.aad488","type":"file","z":"b937a168.83712","name":"","filename":"/home/pi/prova.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1110,"y":400,"wires":[[]]},{"id":"e6827745.6eebf8","type":"file","z":"b937a168.83712","name":"","filename":"/home/pi/github/shiny_app/meteo.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":440,"wires":[[]]},{"id":"520623d5.e8629c","type":"mqtt-broker","z":"","name":"rasp","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"46e56215.6f66ec","type":"ui_group","z":"","name":"prova","tab":"8e392116.bfb94","order":1,"disp":false,"width":"12","collapse":false},{"id":"f639a438.81f128","type":"ui_group","z":"","name":"","tab":"90765f7d.660f6","order":1,"disp":false,"width":3,"collapse":false},{"id":"8e392116.bfb94","type":"ui_tab","z":"","name":"Plots","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"90765f7d.660f6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]