node_red_flows/SPIRO/SPIRO_1.json
[{"id":"a3e0216f.20509","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7da64c61.7acee4","type":"telegrambot-notify","z":"a3e0216f.20509","name":"","bot":"af43463f.44ab98","chatId":"109140731","message":"SPIRO 1 è operativo!","parseMode":"","x":540,"y":240,"wires":[]},{"id":"4ea3ec9b.9be184","type":"start-up-trigger","z":"a3e0216f.20509","x":160,"y":240,"wires":[["b7746ae7.395428"]]},{"id":"1e85ef9a.2895","type":"telegrambot-command","z":"a3e0216f.20509","name":"Reboot RaspberryPi","bot":"af43463f.44ab98","command":"/reset_pi","commandType":"str","commandCase":false,"x":180,"y":120,"wires":[["64617a1c.06879c"]]},{"id":"64617a1c.06879c","type":"telegrambot-switch","z":"a3e0216f.20509","name":"","bot":"af43463f.44ab98","chatId":"109140731","question":"Reboot RaspberryPi?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"verticalAnswers":false,"timeoutValue":"","timeoutUnits":"","x":400,"y":120,"wires":[["be24fb6c.f9a378"],["683d78b8.42d3c"]]},{"id":"be24fb6c.f9a378","type":"telegrambot-switch","z":"a3e0216f.20509","name":"","bot":"af43463f.44ab98","chatId":"109140731","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"verticalAnswers":false,"timeoutValue":"","timeoutUnits":"","x":600,"y":100,"wires":[["8ffff6a3.74fdb8"],["683d78b8.42d3c"]]},{"id":"683d78b8.42d3c","type":"telegrambot-switch","z":"a3e0216f.20509","name":"","bot":"af43463f.44ab98","chatId":"109140731","question":"Spegnerlo?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"verticalAnswers":false,"timeoutValue":"","timeoutUnits":"","x":600,"y":160,"wires":[["f58a07f2.4ca5d"],[]]},{"id":"f58a07f2.4ca5d","type":"telegrambot-switch","z":"a3e0216f.20509","name":"","bot":"af43463f.44ab98","chatId":"109140731","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"verticalAnswers":false,"timeoutValue":"","timeoutUnits":"","x":780,"y":160,"wires":[["300eb427.d6f88c"],[]]},{"id":"8ffff6a3.74fdb8","type":"restart","z":"a3e0216f.20509","name":"","x":790,"y":100,"wires":[]},{"id":"300eb427.d6f88c","type":"shutdown","z":"a3e0216f.20509","name":"","x":980,"y":160,"wires":[]},{"id":"b7746ae7.395428","type":"delay","z":"a3e0216f.20509","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":240,"wires":[["7da64c61.7acee4"]]},{"id":"83f1f7cd.247e98","type":"camerapi-takephoto","z":"a3e0216f.20509","d":true,"filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"10","rotation":"90","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"100","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"2.0","led":"0","awb":"auto","name":"","x":380,"y":400,"wires":[["1a12f744.2b43f1","9f01ae9a.c6b2a8","ae5d6c8e.0f2f48"]]},{"id":"82a512fb.04a9d8","type":"telegrambot-command","z":"a3e0216f.20509","d":true,"name":"photo","bot":"af43463f.44ab98","command":"/photo","commandType":"str","commandCase":false,"x":150,"y":400,"wires":[["83f1f7cd.247e98","977c3205.9d56d8"]]},{"id":"1a12f744.2b43f1","type":"function","z":"a3e0216f.20509","d":true,"name":"","func":"function addZero(i) {\n  if (i < 10) {\n    i = \"0\" + i;\n  }\n  return i;\n}\n\nvar d = new Date();\nvar h = addZero(d.getHours());\nvar m = addZero(d.getMinutes());\nvar giorno = addZero(d.getDate());\nvar mese = addZero(d.getMonth());\nvar anno = addZero(d.getFullYear());\n//var anno2 = d.getFullYear();\n\n\nmsg.method = \"sendPhoto\";\nmsg.payload = {\n    photo: msg.payload,\n    //caption: (new Date()).toISOString(),\n    caption: \"Scattata il \" + giorno + \"/\" + mese + \"/\" + anno + \" - \" + h + \":\" + m,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":400,"wires":[["dca047e9.3bb19","7dd9e28b.21f554"]]},{"id":"dca047e9.3bb19","type":"telegrambot-payload","z":"a3e0216f.20509","d":true,"name":"","bot":"af43463f.44ab98","chatId":"","sendMethod":"sendPhoto","payload":"","x":800,"y":400,"wires":[[]]},{"id":"977c3205.9d56d8","type":"telegrambot-notify","z":"a3e0216f.20509","d":true,"name":"","bot":"af43463f.44ab98","chatId":"","message":"Comando ricevuto!","parseMode":"","x":370,"y":500,"wires":[]},{"id":"9f01ae9a.c6b2a8","type":"telegrambot-notify","z":"a3e0216f.20509","d":true,"name":"","bot":"af43463f.44ab98","chatId":"","message":"Foto in arrivo...ancora qualche secondo","parseMode":"","x":620,"y":500,"wires":[]},{"id":"7dd9e28b.21f554","type":"debug","z":"a3e0216f.20509","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":340,"wires":[]},{"id":"ae5d6c8e.0f2f48","type":"debug","z":"a3e0216f.20509","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":340,"wires":[]},{"id":"af43463f.44ab98","type":"telegrambot-config","botname":"SPIRO_1_bot","usernames":"Stramon1um","chatIds":"","pollInterval":"300"}]