node_red_flows/flows_zero.json
[{"id":"77733747.3e84d8","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"3741870.ba8f37a","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"test/message","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":190,"y":140,"wires":[["e291aae9.6fd418","3bd1dd38.2ac662"]]},{"id":"ac241398.cb47a","type":"ui_chart","z":"77733747.3e84d8","d":true,"name":"","group":"1906cb4f.0f2f25","order":1,"width":6,"height":1,"label":"Temperature RPi","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff080f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#da2627","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":100,"wires":[[]]},{"id":"81e374f.94b8388","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":210,"y":340,"wires":[["5014c9f5.6c5118","8e6fa756.e014c8","5b075bb2.994194"]]},{"id":"6a00253e.7b68dc","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":200,"y":420,"wires":[["57c44436.73de4c","f10d873b.f66c28","f34aeb94.18a0a8"]]},{"id":"81b4b265.8f882","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"esp32/pressure","qos":"2","datatype":"utf8","broker":"c961b9cd.c099d8","x":200,"y":500,"wires":[["eec9c36c.93522","1d357a0e.8c1666","1fa1ea31.c32626","9451a9d6.d31ab8"]]},{"id":"eec9c36c.93522","type":"ui_chart","z":"77733747.3e84d8","name":"","group":"1906cb4f.0f2f25","order":4,"width":6,"height":2,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":500,"wires":[[]]},{"id":"412c4e5d.60e55","type":"mqtt out","z":"77733747.3e84d8","name":"","topic":"relay_esp/SmartPlug_1","qos":"2","retain":"","broker":"c961b9cd.c099d8","x":1150,"y":1140,"wires":[]},{"id":"e2aea29a.b441f","type":"ui_gauge","z":"77733747.3e84d8","name":"","group":"3d344643.ace30a","order":1,"width":3,"height":2,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":300,"wires":[]},{"id":"a1e99605.346cd8","type":"ui_gauge","z":"77733747.3e84d8","name":"","group":"3d344643.ace30a","order":2,"width":3,"height":2,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":380,"wires":[]},{"id":"a658f1ca.9970c","type":"ui_gauge","z":"77733747.3e84d8","name":"","group":"3d344643.ace30a","order":3,"width":3,"height":2,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":"980","max":"1035","colors":["#ff0505","#e6e600","#2ef011"],"seg1":"","seg2":"","x":600,"y":460,"wires":[]},{"id":"f0ffa12.6e2c56","type":"inject","z":"77733747.3e84d8","name":"Schedule Reset SmartPlug_1","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"x":830,"y":1240,"wires":[["412c4e5d.60e55"]]},{"id":"ac9e060b.e614e8","type":"moment","z":"77733747.3e84d8","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Rome","adjAmount":"0","adjType":"hours","adjDir":"add","format":"D/MM/YYYY H:mm","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Rome","x":820,"y":580,"wires":[["b77fd42a.2573c8","c7c95d13.6a72f"]]},{"id":"b77fd42a.2573c8","type":"join","z":"77733747.3e84d8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":420,"wires":[["51f18e33.d6167"]]},{"id":"1d357a0e.8c1666","type":"trigger","z":"77733747.3e84d8","op1":"","op2":"","op1type":"date","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":580,"wires":[["ac9e060b.e614e8"]]},{"id":"5014c9f5.6c5118","type":"delay","z":"77733747.3e84d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":340,"wires":[["b77fd42a.2573c8"]]},{"id":"57c44436.73de4c","type":"delay","z":"77733747.3e84d8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":420,"wires":[["b77fd42a.2573c8"]]},{"id":"1fa1ea31.c32626","type":"delay","z":"77733747.3e84d8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":500,"wires":[["b77fd42a.2573c8"]]},{"id":"51f18e33.d6167","type":"file","z":"77733747.3e84d8","name":"","filename":"/home/pi/github/shiny_app/meteo.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1270,"y":420,"wires":[[]]},{"id":"c7c95d13.6a72f","type":"ui_text","z":"77733747.3e84d8","group":"3d344643.ace30a","order":16,"width":3,"height":1,"name":"","label":"Last update: ","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":580,"wires":[]},{"id":"e291aae9.6fd418","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperature RPi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["ac241398.cb47a","6f413a14.cb0ba4"]]},{"id":"8e6fa756.e014c8","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":300,"wires":[["e2aea29a.b441f","6f413a14.cb0ba4","eb2b9904.a86388"]]},{"id":"f10d873b.f66c28","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":380,"wires":[["a1e99605.346cd8","eb2b9904.a86388","553ebd86.8ccbc4"]]},{"id":"9451a9d6.d31ab8","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[["a658f1ca.9970c","eb2b9904.a86388"]]},{"id":"6f413a14.cb0ba4","type":"ui_chart","z":"77733747.3e84d8","name":"","group":"1906cb4f.0f2f25","order":2,"width":3,"height":4,"label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#31a931","#a2e394","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":200,"wires":[[]]},{"id":"6fe78d2a.7edf64","type":"ui_button","z":"77733747.3e84d8","name":"Relay 1 ON","group":"3d344643.ace30a","order":5,"width":1,"height":1,"passthru":true,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"esp/relay","x":890,"y":1120,"wires":[["412c4e5d.60e55"]]},{"id":"43031e88.0850c","type":"ui_button","z":"77733747.3e84d8","name":"Relay 1 OFF","group":"3d344643.ace30a","order":6,"width":1,"height":1,"passthru":true,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"esp/relay","x":890,"y":1160,"wires":[["412c4e5d.60e55"]]},{"id":"e361df9f.2752c","type":"ui_text","z":"77733747.3e84d8","group":"3d344643.ace30a","order":4,"width":1,"height":1,"name":"","label":"SmartPlug_1","format":"{{msg.payload}}","layout":"row-center","x":890,"y":1080,"wires":[]},{"id":"3bd1dd38.2ac662","type":"function","z":"77733747.3e84d8","d":true,"name":"","func":"if (msg.payload > 1) {\n   return [msg]\n}","outputs":1,"noerr":0,"x":370,"y":180,"wires":[[]]},{"id":"fab2c8b5.bbbf58","type":"switch","z":"77733747.3e84d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1080,"wires":[["6fe78d2a.7edf64"],["43031e88.0850c"]]},{"id":"105514e3.aecbbb","type":"function","z":"77733747.3e84d8","name":"conversion from TRUE to ON","func":"if(msg.payload.On === true){\n        return [{\"payload\":\"ON\"}];\n    }\n    if(msg.payload.On === false){\n        return [{\"payload\":\"OFF\"}];\n\n    }\n    ","outputs":1,"noerr":0,"x":840,"y":1000,"wires":[["fab2c8b5.bbbf58"]]},{"id":"93a82af3.0b5f78","type":"homekit-service","z":"77733747.3e84d8","isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Temperature","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}","x":1370,"y":480,"wires":[[],[]]},{"id":"5b075bb2.994194","type":"change","z":"77733747.3e84d8","name":"Set playoad to Temperature","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.CurrentTemperature","tot":"msg"},{"t":"set","p":"payload.StatusActive","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":480,"wires":[["93a82af3.0b5f78"]]},{"id":"62485956.6c5048","type":"homekit-service","z":"77733747.3e84d8","isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Humidity","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentRelativeHumidity\" : 0,\n    \"StatusActive\" : true\n}","x":1360,"y":520,"wires":[[],[]]},{"id":"f34aeb94.18a0a8","type":"change","z":"77733747.3e84d8","name":"Set playoad to Humidity","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.CurrentRelativeHumidity","tot":"msg"},{"t":"set","p":"payload.StatusActive","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":520,"wires":[["62485956.6c5048"]]},{"id":"2f2da517.300c8a","type":"telegrambot-command","z":"77733747.3e84d8","name":"Reboot RaspberryPi","bot":"27cf9d7e.077232","command":"/reset_pi","commandType":"str","commandCase":true,"x":130,"y":2720,"wires":[["af78c4fd.f06858"]]},{"id":"7c202209.0e552c","type":"telegrambot-notify","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","message":"Il Sistema RPi Zero è operativo!","parseMode":"","x":520,"y":2880,"wires":[]},{"id":"9c4ecb6.88bf738","type":"telegrambot-command","z":"77733747.3e84d8","name":"/SmartPlug_1","bot":"27cf9d7e.077232","command":"/presa1","commandType":"str","commandCase":false,"x":110,"y":1160,"wires":[["76868207.4e660c"]]},{"id":"76868207.4e660c","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Accendere o Spegnere?","answers":["Accendere","Spegnere"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":360,"y":1160,"wires":[["6fe78d2a.7edf64","45e39e75.690b18"],["43031e88.0850c","915c5f72.b36b5"]]},{"id":"1f8fb6c2.7c3fd9","type":"telegrambot-payload","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","sendMethod":"","payload":"","x":810,"y":700,"wires":[[]]},{"id":"625ab617.4511e8","type":"telegrambot-command","z":"77733747.3e84d8","name":"/meteo","bot":"27cf9d7e.077232","command":"/meteo","commandType":"str","commandCase":false,"x":170,"y":740,"wires":[["f8b9a17.623146"]]},{"id":"66e9f037.12b23","type":"q-gate","z":"77733747.3e84d8","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"1","keepNewest":true,"qToggle":false,"persist":false,"x":630,"y":700,"wires":[["1f8fb6c2.7c3fd9"]]},{"id":"f8b9a17.623146","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"peek","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":740,"wires":[["66e9f037.12b23"]]},{"id":"eb2b9904.a86388","type":"join","z":"77733747.3e84d8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":210,"y":660,"wires":[["3a9cc5bd.3eccba"]]},{"id":"3a9cc5bd.3eccba","type":"function","z":"77733747.3e84d8","name":"build the message for Telegram","func":"msg.method = \"sendMessage\";\nmsg.payload = {\n    text:\"Temp: \"+ msg.payload.Temperature +\" °C\\nHumidity: \"+msg.payload.Humidity+\" %\\nPressure: \"+msg.payload.Pressure+\" hPa\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["66e9f037.12b23"]]},{"id":"af78c4fd.f06858","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Reboot RaspberryPi?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":340,"y":2720,"wires":[["3f8d3155.93685e"],["34630f81.42e1e"]]},{"id":"3f8d3155.93685e","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":520,"y":2720,"wires":[["cbd5e6b6.74e0e8"],["34630f81.42e1e"]]},{"id":"cbd5e6b6.74e0e8","type":"restart","z":"77733747.3e84d8","name":"","x":710,"y":2720,"wires":[]},{"id":"34630f81.42e1e","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Spegnerlo?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":520,"y":2780,"wires":[["80c0d539.26e858"],[]]},{"id":"f030b61f.1c1138","type":"shutdown","z":"77733747.3e84d8","name":"","x":880,"y":2780,"wires":[]},{"id":"7224ad6d.7cc914","type":"start-up-trigger","z":"77733747.3e84d8","x":120,"y":2880,"wires":[["c2214080.a8148"]]},{"id":"c2214080.a8148","type":"delay","z":"77733747.3e84d8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":2880,"wires":[["7c202209.0e552c"]]},{"id":"8c088678.8e5eb8","type":"homekit-rgb","z":"77733747.3e84d8","d":true,"name":"","x":290,"y":2360,"wires":[["f1a5e7c4.db61c8"]]},{"id":"9fcbeba4.2448e8","type":"homekit-service","z":"77733747.3e84d8","d":true,"isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"LED","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"Brightness\":true,\n    \"Hue\":true,\n    \"Saturation\":true\n}","x":130,"y":2360,"wires":[["8c088678.8e5eb8"],[]]},{"id":"f1a5e7c4.db61c8","type":"function","z":"77733747.3e84d8","d":true,"name":"split from array to string","func":"//msg.payload = msg.payload[0]\n\nreturn [{payload: String(msg.payload[0])}, {payload: String(msg.payload[1])},{payload: String(msg.payload[2])}, {payload: String(msg.payload)}]\n","outputs":4,"noerr":0,"x":490,"y":2360,"wires":[["128b0c4a.9c1fe4"],["19bda3f3.319f6c"],["52eac1d.2addc4"],[]]},{"id":"f12d153e.952f88","type":"rpi-gpio out","z":"77733747.3e84d8","d":true,"name":"Rosso","pin":"11","set":false,"level":"0","freq":"100","out":"pwm","x":890,"y":2320,"wires":[]},{"id":"c44f335b.3e96d","type":"rpi-gpio out","z":"77733747.3e84d8","d":true,"name":"Verde","pin":"15","set":false,"level":"0","freq":"100","out":"pwm","x":890,"y":2360,"wires":[]},{"id":"f2137178.4374f","type":"rpi-gpio out","z":"77733747.3e84d8","d":true,"name":"Blue","pin":"13","set":false,"level":"0","freq":"100","out":"pwm","x":890,"y":2400,"wires":[]},{"id":"128b0c4a.9c1fe4","type":"range","z":"77733747.3e84d8","d":true,"minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":720,"y":2320,"wires":[["f12d153e.952f88"]]},{"id":"19bda3f3.319f6c","type":"range","z":"77733747.3e84d8","d":true,"minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":720,"y":2360,"wires":[["c44f335b.3e96d"]]},{"id":"52eac1d.2addc4","type":"range","z":"77733747.3e84d8","d":true,"minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":720,"y":2400,"wires":[["f2137178.4374f"]]},{"id":"80c0d539.26e858","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":700,"y":2780,"wires":[["f030b61f.1c1138"],[]]},{"id":"a884f1f.c26181","type":"rpi-neopixels","z":"77733747.3e84d8","d":true,"name":"","pixels":"8","bgnd":"0,0,0","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","brightness":"100","gamma":true,"x":670,"y":2560,"wires":[]},{"id":"d69db6b9.d435b8","type":"inject","z":"77733747.3e84d8","d":true,"name":"","topic":"","payload":"50,#FF00FF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":2560,"wires":[["a884f1f.c26181"]]},{"id":"d0e45a1a.12b6a8","type":"homekit-rgb","z":"77733747.3e84d8","d":true,"name":"","x":290,"y":2480,"wires":[["4b0f97ca.4dd218"]]},{"id":"7f27eaf3.3ce2c4","type":"homekit-service","z":"77733747.3e84d8","d":true,"isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Strip LED","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"Brightness\":true,\n    \"Hue\":true,\n    \"Saturation\":true\n}","x":140,"y":2480,"wires":[["d0e45a1a.12b6a8"],[]]},{"id":"4b0f97ca.4dd218","type":"function","z":"77733747.3e84d8","d":true,"name":"array to string","func":"return [{payload: String(msg.payload)}];","outputs":1,"noerr":0,"x":490,"y":2480,"wires":[["afaaef37.55652","a884f1f.c26181"]]},{"id":"afaaef37.55652","type":"debug","z":"77733747.3e84d8","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":2480,"wires":[]},{"id":"c17b0e4b.fa8e8","type":"function","z":"77733747.3e84d8","d":true,"name":"Rainbow Effect","func":"var numberOfLEDs = 8;\n\nfor(i=0; i<255; i++){\n    \n    for(j=0; j<numberOfLEDs; j++){\n        \n        var pos = 0;\n        pos = Math.round(((j*255/numberOfLEDs)+i))&255;\n        \n        if(pos<85){\n            var red = pos*3;\n            var green = 255-pos*3;\n            var blue = 0;\n        }\n        else if(pos < 170){\n            pos -= 85;\n            var red = 255 - pos*3;\n            var green = 0;\n            var blue = pos*3;\n        }\n        else{\n            pos -= 170;\n            var red = 0;\n            var green = pos*3;\n            var blue = 255-pos*3;\n        }\n        var setColor = j+','+ red +','+ green +','+ blue;\n        node.send({payload:setColor});\n    }\n}","outputs":1,"noerr":0,"x":300,"y":2620,"wires":[["9108b056.019ae"]]},{"id":"7abab229.5c0d5c","type":"telegrambot-command","z":"77733747.3e84d8","d":true,"name":"","bot":"27cf9d7e.077232","command":"/rainbow","commandType":"str","commandCase":false,"x":110,"y":2620,"wires":[["c17b0e4b.fa8e8"]]},{"id":"9108b056.019ae","type":"delay","z":"77733747.3e84d8","d":true,"name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":2620,"wires":[["a884f1f.c26181"]]},{"id":"c8548926.bc1448","type":"homekit-service","z":"77733747.3e84d8","isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Presa1","serviceName":"Outlet","topic":"","filter":false,"manufacturer":"Maurone & Co","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":630,"y":1000,"wires":[["105514e3.aecbbb"],[]]},{"id":"9197aa46.331da","type":"mqtt out","z":"77733747.3e84d8","d":true,"name":"","topic":"relay_esp/SmartPlug_2","qos":"2","retain":"","broker":"c961b9cd.c099d8","x":970,"y":2160,"wires":[]},{"id":"169c32d4.5cc26d","type":"inject","z":"77733747.3e84d8","d":true,"name":"Schedule Reset SmartPlug_2","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"x":170,"y":2160,"wires":[["9197aa46.331da"]]},{"id":"9f02c36f.a4c828","type":"ui_button","z":"77733747.3e84d8","d":true,"name":"Relay X ON","group":"3d344643.ace30a","order":14,"width":1,"height":1,"passthru":true,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"esp/relay","x":730,"y":2140,"wires":[["9197aa46.331da"]]},{"id":"5c9e832e.aac344","type":"ui_button","z":"77733747.3e84d8","d":true,"name":"Relay X OFF","group":"3d344643.ace30a","order":15,"width":1,"height":1,"passthru":true,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"esp/relay","x":730,"y":2180,"wires":[["9197aa46.331da"]]},{"id":"8027b71b.89a528","type":"homekit-service","z":"77733747.3e84d8","d":true,"isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Lampadina","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Maurone & Co","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":110,"y":2060,"wires":[["ed042a45.08463"],[]]},{"id":"e6fb47b3.0365c","type":"switch","z":"77733747.3e84d8","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":2060,"wires":[["9f02c36f.a4c828"],["5c9e832e.aac344"]]},{"id":"ed042a45.08463","type":"function","z":"77733747.3e84d8","d":true,"name":"conversion from TRUE to ON","func":"if(msg.payload.On === true){\n        return [{\"payload\":\"ON\"}];\n    }\n    if(msg.payload.On === false){\n        return [{\"payload\":\"OFF\"}];\n\n    }\n    ","outputs":1,"noerr":0,"x":340,"y":2060,"wires":[["e6fb47b3.0365c"]]},{"id":"d2970c2.6b3217","type":"switch","z":"77733747.3e84d8","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"},{"t":"lt","v":"90","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":2220,"wires":[[],[]]},{"id":"c0901fbe.5c1e2","type":"telegrambot-command","z":"77733747.3e84d8","d":true,"name":"/SmartPlug_2","bot":"27cf9d7e.077232","command":"/relay2","commandType":"str","commandCase":false,"x":110,"y":2300,"wires":[["550b37be.eccb2"]]},{"id":"550b37be.eccb2","type":"telegrambot-switch","z":"77733747.3e84d8","d":true,"name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Accendere o Spegnere?","answers":["Accendere","Spegnere"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":340,"y":2300,"wires":[["9f02c36f.a4c828"],["5c9e832e.aac344"]]},{"id":"b214c39e.463898","type":"homekit-service","z":"77733747.3e84d8","d":true,"isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Presa2","serviceName":"Outlet","topic":"","filter":false,"manufacturer":"Maurone & Co","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":90,"y":2000,"wires":[["ed042a45.08463"],[]]},{"id":"983d2f21.2de3a","type":"inject","z":"77733747.3e84d8","name":"","topic":"","payload":"{\"On\":1,\"OutletInUse\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":740,"wires":[[]]},{"id":"45e39e75.690b18","type":"trigger","z":"77733747.3e84d8","op1":"{\"On\":1,\"OutletInUse\":1}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Acceso","x":460,"y":980,"wires":[["c8548926.bc1448"]]},{"id":"915c5f72.b36b5","type":"trigger","z":"77733747.3e84d8","op1":"{\"On\":0,\"OutletInUse\":0}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Spento","x":460,"y":1020,"wires":[["c8548926.bc1448"]]},{"id":"2526448e.498114","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"relay_esp/Dash_Board","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":140,"y":1060,"wires":[["eba52c91.f52a78"]]},{"id":"eba52c91.f52a78","type":"switch","z":"77733747.3e84d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1060,"wires":[["915c5f72.b36b5"],["45e39e75.690b18"]]},{"id":"c6439b1a.82bf58","type":"comment","z":"77733747.3e84d8","name":"Presa1","info":"","x":90,"y":1000,"wires":[]},{"id":"4145fbb4.04c30c","type":"inject","z":"77733747.3e84d8","name":"Schedule Reset Dash_Board","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"x":190,"y":860,"wires":[["3de29637.d6c09a"]]},{"id":"3de29637.d6c09a","type":"mqtt out","z":"77733747.3e84d8","name":"","topic":"relay_esp/Dash_Board","qos":"2","retain":"","broker":"c961b9cd.c099d8","x":1140,"y":860,"wires":[]},{"id":"9fb4f3bf.2a53a8","type":"comment","z":"77733747.3e84d8","name":"Reset","info":"","x":90,"y":820,"wires":[]},{"id":"10097779.dbe3f1","type":"homekit-service","z":"77733747.3e84d8","d":true,"isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Temperature","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}","x":1370,"y":260,"wires":[[],[]]},{"id":"c64d9526.db7fb","type":"change","z":"77733747.3e84d8","name":"Set playoad to Temperature","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.CurrentTemperature","tot":"msg"},{"t":"set","p":"payload.StatusActive","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":260,"wires":[["10097779.dbe3f1"]]},{"id":"299e8481.617e14","type":"homekit-service","z":"77733747.3e84d8","d":true,"isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Humidity","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentRelativeHumidity\" : 0,\n    \"StatusActive\" : true\n}","x":1360,"y":300,"wires":[[],[]]},{"id":"f5b71eb1.0d3fa","type":"change","z":"77733747.3e84d8","name":"Set playoad to Humidity","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.CurrentRelativeHumidity","tot":"msg"},{"t":"set","p":"payload.StatusActive","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":300,"wires":[["299e8481.617e14"]]},{"id":"f65f2baa.7228d","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"wemos/temperature","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":910,"y":260,"wires":[["c64d9526.db7fb","823492e3.bcddc"]]},{"id":"2043a473.2c0364","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"wemos/humidity","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":920,"y":300,"wires":[["f5b71eb1.0d3fa","7cc8e5f8.251bc4"]]},{"id":"823492e3.bcddc","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperature Ext","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":140,"wires":[[]]},{"id":"7cc8e5f8.251bc4","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Humidity Ext","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":200,"wires":[[]]},{"id":"553ebd86.8ccbc4","type":"ui_chart","z":"77733747.3e84d8","name":"","group":"1906cb4f.0f2f25","order":3,"width":3,"height":4,"label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#37b237","#a2e394","#31a931","#a2e394","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":260,"wires":[[]]},{"id":"bdceae3a.f0fda8","type":"mqtt out","z":"77733747.3e84d8","name":"","topic":"relay_esp/SmartPlug_2","qos":"2","retain":"","broker":"c961b9cd.c099d8","x":1150,"y":1480,"wires":[]},{"id":"575ca384.208dec","type":"inject","z":"77733747.3e84d8","name":"Schedule Reset SmartPlug_2","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"x":830,"y":1580,"wires":[["bdceae3a.f0fda8"]]},{"id":"7e289f9a.ac8cc","type":"ui_button","z":"77733747.3e84d8","name":"Relay 2 ON","group":"3d344643.ace30a","order":8,"width":1,"height":1,"passthru":true,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"esp/relay","x":890,"y":1460,"wires":[["bdceae3a.f0fda8"]]},{"id":"67793faa.559578","type":"ui_button","z":"77733747.3e84d8","name":"Relay 2 OFF","group":"3d344643.ace30a","order":9,"width":1,"height":1,"passthru":true,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"esp/relay","x":890,"y":1500,"wires":[["bdceae3a.f0fda8"]]},{"id":"2bea6b17.b502f4","type":"ui_text","z":"77733747.3e84d8","group":"3d344643.ace30a","order":7,"width":1,"height":1,"name":"","label":"SmartPlug_2","format":"{{msg.payload}}","layout":"row-center","x":890,"y":1420,"wires":[]},{"id":"566987a6.ad62d8","type":"switch","z":"77733747.3e84d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1420,"wires":[["7e289f9a.ac8cc"],["67793faa.559578"]]},{"id":"ad3b7bb8.c88bd","type":"function","z":"77733747.3e84d8","name":"conversion from TRUE to ON","func":"if(msg.payload.On === true){\n        return [{\"payload\":\"ON\"}];\n    }\n    if(msg.payload.On === false){\n        return [{\"payload\":\"OFF\"}];\n\n    }\n    ","outputs":1,"noerr":0,"x":840,"y":1340,"wires":[["566987a6.ad62d8"]]},{"id":"e348cf38.4fa39","type":"telegrambot-command","z":"77733747.3e84d8","name":"/SmartPlug_2","bot":"27cf9d7e.077232","command":"/presa2","commandType":"str","commandCase":false,"x":110,"y":1500,"wires":[["511b1d81.aa37d4"]]},{"id":"511b1d81.aa37d4","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Accendere o Spegnere?","answers":["Accendere","Spegnere"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":360,"y":1500,"wires":[["7e289f9a.ac8cc","dfb668d5.36fb4"],["67793faa.559578","7fff8940.e756a8"]]},{"id":"f0b5cd64.bc091","type":"homekit-service","z":"77733747.3e84d8","isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Presa2","serviceName":"Outlet","topic":"","filter":false,"manufacturer":"Maurone & Co","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":630,"y":1340,"wires":[["ad3b7bb8.c88bd"],[]]},{"id":"dfb668d5.36fb4","type":"trigger","z":"77733747.3e84d8","op1":"{\"On\":1,\"OutletInUse\":1}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Acceso","x":460,"y":1320,"wires":[["f0b5cd64.bc091"]]},{"id":"7fff8940.e756a8","type":"trigger","z":"77733747.3e84d8","op1":"{\"On\":0,\"OutletInUse\":0}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Spento","x":460,"y":1360,"wires":[["f0b5cd64.bc091"]]},{"id":"3818f73f.39d7","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"relay_esp/Dash_Board","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":140,"y":1400,"wires":[["98f2f57a.51aa08"]]},{"id":"98f2f57a.51aa08","type":"switch","z":"77733747.3e84d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1400,"wires":[["7fff8940.e756a8"],["dfb668d5.36fb4"]]},{"id":"825c7e1a.c2445","type":"comment","z":"77733747.3e84d8","name":"Presa2","info":"","x":90,"y":1340,"wires":[]},{"id":"9ad63d20.6fb48","type":"inject","z":"77733747.3e84d8","name":"Accendi a","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"x":290,"y":1300,"wires":[["dfb668d5.36fb4"]]},{"id":"28e657b1.2839e8","type":"inject","z":"77733747.3e84d8","name":"Spegni a","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":280,"y":1340,"wires":[["7fff8940.e756a8"]]},{"id":"38d46429.84c11c","type":"mqtt out","z":"77733747.3e84d8","name":"","topic":"relay_esp/SmartPlug_3","qos":"2","retain":"","broker":"c961b9cd.c099d8","x":1150,"y":1840,"wires":[]},{"id":"b6733fad.3810b8","type":"inject","z":"77733747.3e84d8","name":"Schedule Reset SmartPlug_3","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"x":830,"y":1940,"wires":[["38d46429.84c11c"]]},{"id":"968a42e9.8a468","type":"ui_button","z":"77733747.3e84d8","name":"Relay 3 ON","group":"3d344643.ace30a","order":11,"width":1,"height":1,"passthru":true,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"esp/relay","x":890,"y":1820,"wires":[["38d46429.84c11c"]]},{"id":"35e4891f.95a2de","type":"ui_button","z":"77733747.3e84d8","name":"Relay 3 OFF","group":"3d344643.ace30a","order":12,"width":1,"height":1,"passthru":true,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"esp/relay","x":890,"y":1860,"wires":[["38d46429.84c11c"]]},{"id":"c027306.83500d","type":"ui_text","z":"77733747.3e84d8","group":"3d344643.ace30a","order":10,"width":1,"height":1,"name":"","label":"SmartPlug_3","format":"{{msg.payload}}","layout":"row-center","x":890,"y":1780,"wires":[]},{"id":"62ec41e5.3d295","type":"switch","z":"77733747.3e84d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1780,"wires":[["968a42e9.8a468"],["35e4891f.95a2de"]]},{"id":"d82e025d.16b66","type":"function","z":"77733747.3e84d8","name":"conversion from TRUE to ON","func":"if(msg.payload.On === true){\n        return [{\"payload\":\"ON\"}];\n    }\n    if(msg.payload.On === false){\n        return [{\"payload\":\"OFF\"}];\n\n    }\n    ","outputs":1,"noerr":0,"x":840,"y":1700,"wires":[["62ec41e5.3d295"]]},{"id":"861943a6.44bf88","type":"telegrambot-command","z":"77733747.3e84d8","name":"/SmartPlug_2","bot":"27cf9d7e.077232","command":"/presa3","commandType":"str","commandCase":false,"x":110,"y":1860,"wires":[["708e7f70.19c7a8"]]},{"id":"708e7f70.19c7a8","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Accendere o Spegnere?","answers":["Accendere","Spegnere"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":360,"y":1860,"wires":[["968a42e9.8a468","1b980dcb.a10602"],["35e4891f.95a2de","5fcef527.4f61dc"]]},{"id":"b5bc7c16.b62188","type":"homekit-service","z":"77733747.3e84d8","isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Presa3","serviceName":"Outlet","topic":"","filter":false,"manufacturer":"Maurone & Co","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":630,"y":1700,"wires":[["d82e025d.16b66"],[]]},{"id":"1b980dcb.a10602","type":"trigger","z":"77733747.3e84d8","op1":"{\"On\":1,\"OutletInUse\":1}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Acceso","x":460,"y":1680,"wires":[["b5bc7c16.b62188"]]},{"id":"5fcef527.4f61dc","type":"trigger","z":"77733747.3e84d8","op1":"{\"On\":0,\"OutletInUse\":0}","op2":"","op1type":"json","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Spento","x":460,"y":1720,"wires":[["b5bc7c16.b62188"]]},{"id":"21d8dbd8.985f3c","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"relay_esp/Dash_Board","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":140,"y":1760,"wires":[["6b3d876e.9e58b8"]]},{"id":"6b3d876e.9e58b8","type":"switch","z":"77733747.3e84d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1760,"wires":[["5fcef527.4f61dc"],["1b980dcb.a10602"]]},{"id":"2666007e.0f82c","type":"comment","z":"77733747.3e84d8","name":"Presa3","info":"","x":90,"y":1700,"wires":[]},{"id":"724fe800.ea38c","type":"inject","z":"77733747.3e84d8","d":true,"name":"Accendi a","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"x":290,"y":1660,"wires":[["1b980dcb.a10602"]]},{"id":"b6e2b99.4d2c9c8","type":"inject","z":"77733747.3e84d8","d":true,"name":"Spegni a","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":280,"y":1700,"wires":[["5fcef527.4f61dc"]]},{"id":"3bff694c.c50f06","type":"inject","z":"77733747.3e84d8","d":true,"name":"Accendi a","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"x":290,"y":960,"wires":[["45e39e75.690b18"]]},{"id":"ac3fd9b0.dddad8","type":"inject","z":"77733747.3e84d8","d":true,"name":"Spegni a","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 17 * * *","once":false,"onceDelay":0.1,"x":280,"y":1000,"wires":[["915c5f72.b36b5"]]},{"id":"c961b9cd.c099d8","type":"mqtt-broker","z":"","name":"rasp_Zero","broker":"192.168.1.18","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1906cb4f.0f2f25","type":"ui_group","z":"","name":"prova","tab":"57c08da9.6f0c24","order":1,"disp":false,"width":6,"collapse":false},{"id":"3d344643.ace30a","type":"ui_group","z":"","name":"Main","tab":"636b8e27.65e23","order":1,"disp":false,"width":3,"collapse":false},{"id":"a46c3753.50a598","type":"homekit-bridge","z":"","bridgeName":"HomeKIT","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"27cf9d7e.077232","type":"telegrambot-config","z":"","botname":"Casa_Remote","usernames":"Stramon1um","chatIds":"109140731","pollInterval":"300"},{"id":"57c08da9.6f0c24","type":"ui_tab","z":"","name":"Plots","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"636b8e27.65e23","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]