node_red_flows/flows_tenda.json
[{"id":"af576b28.ff7988","type":"tab","label":"Tenda bot","disabled":false,"info":""},{"id":"5b2182f0.ea7c5c","type":"rpi-gpio out","z":"af576b28.ff7988","d":true,"name":"","pin":"12","set":"","level":"0","freq":"50","out":"pwm","x":529,"y":117,"wires":[]},{"id":"71da47a9.44f89","type":"change","z":"af576b28.ff7988","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":153,"wires":[["5b2182f0.ea7c5c","2de02ffc.7209e8"]]},{"id":"dc71fa8d.e97568","type":"comment","z":"af576b28.ff7988","name":"Pilotaggio motore servo SG90","info":"","x":340,"y":60,"wires":[]},{"id":"2b12f49e.203ed4","type":"ui_button","z":"af576b28.ff7988","name":"","group":"dfe374f9.8b6e7","order":1,"width":0,"height":0,"passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":88,"y":132,"wires":[["71da47a9.44f89"]]},{"id":"c578de87.a38988","type":"ui_button","z":"af576b28.ff7988","name":"","group":"dfe374f9.8b6e7","order":2,"width":0,"height":0,"passthru":false,"label":"90","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"","x":87,"y":177,"wires":[["71da47a9.44f89"]]},{"id":"ecbf6b92.c12cf","type":"ui_button","z":"af576b28.ff7988","name":"","group":"dfe374f9.8b6e7","order":3,"width":0,"height":0,"passthru":false,"label":"180","tooltip":"","color":"","bgcolor":"","icon":"","payload":"11","payloadType":"str","topic":"","x":83,"y":226,"wires":[["71da47a9.44f89"]]},{"id":"1888c8c.a693cb7","type":"ui_slider","z":"af576b28.ff7988","name":"","label":"slider","tooltip":"","group":"dfe374f9.8b6e7","order":0,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":"3","max":"11","step":"0.5","x":89,"y":80,"wires":[["71da47a9.44f89"]]},{"id":"2de02ffc.7209e8","type":"ui_text","z":"af576b28.ff7988","group":"dfe374f9.8b6e7","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":518,"y":190,"wires":[]},{"id":"77986ae9.7a8c6c","type":"pi-gpiod out","z":"af576b28.ff7988","name":"","host":"localhost","port":"8888","pin":"7","set":"","level":"0","out":"ser","sermin":"1000","sermax":"2000","x":660,"y":480,"wires":[]},{"id":"ff5201fd.db85f","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":910,"y":60,"wires":[[]]},{"id":"404ef540.fae8f4","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":220,"wires":[[]]},{"id":"b93bbb28.6ce4a8","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":180,"wires":[[]]},{"id":"cef31f6f.9977f","type":"telegrambot-command","z":"af576b28.ff7988","name":"alza","bot":"6e529b50.5e02fc","command":"/alza","commandType":"str","commandCase":false,"x":110,"y":460,"wires":[["2efee540.005f9a","3502f314.6959c4"]]},{"id":"2efee540.005f9a","type":"trigger","z":"af576b28.ff7988","op1":"100","op2":"50","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":300,"y":460,"wires":[["77986ae9.7a8c6c"]]},{"id":"c72c5418.ee9158","type":"telegrambot-command","z":"af576b28.ff7988","name":"abbassa","bot":"6e529b50.5e02fc","command":"/abbassa","commandType":"str","commandCase":false,"x":120,"y":520,"wires":[["cb80d10c.f98818","bd8a7aad.eb2ff8"]]},{"id":"cb80d10c.f98818","type":"trigger","z":"af576b28.ff7988","op1":"10","op2":"50","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":300,"y":520,"wires":[["77986ae9.7a8c6c"]]},{"id":"a125e17b.372c28","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"40","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":60,"wires":[[]]},{"id":"2f1a499a.58804e","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"30","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":100,"wires":[[]]},{"id":"4e0cbb5b.d04ffc","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"20","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":140,"wires":[[]]},{"id":"4dc76d3b.c43cf4","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":180,"wires":[[]]},{"id":"85348aa2.ea6168","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"90","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":60,"wires":[[]]},{"id":"f253f63b.7179b8","type":"inject","z":"af576b28.ff7988","name":"","topic":"","payload":"80","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1070,"y":100,"wires":[[]]},{"id":"3502f314.6959c4","type":"telegrambot-notify","z":"af576b28.ff7988","name":"","bot":"6e529b50.5e02fc","chatId":"","message":"La tenda si sta alzando","parseMode":"","x":520,"y":400,"wires":[]},{"id":"bd8a7aad.eb2ff8","type":"telegrambot-notify","z":"af576b28.ff7988","name":"","bot":"6e529b50.5e02fc","chatId":"","message":"La tenda si sta abbassando","parseMode":"","x":520,"y":600,"wires":[]},{"id":"52047414.5f0144","type":"telegrambot-command","z":"af576b28.ff7988","name":"Reboot RaspberryPi","bot":"6e529b50.5e02fc","command":"/reset_pi","commandType":"str","commandCase":true,"x":150,"y":720,"wires":[["4a0ce8c9.c88f98"]]},{"id":"918c4751.4e26c","type":"telegrambot-notify","z":"af576b28.ff7988","name":"x Papi","bot":"6e529b50.5e02fc","chatId":"947796367","message":"Il Sistema Tenda è operativo!","parseMode":"","x":510,"y":880,"wires":[]},{"id":"4a0ce8c9.c88f98","type":"telegrambot-switch","z":"af576b28.ff7988","name":"","bot":"6e529b50.5e02fc","chatId":"","question":"Reboot RaspberryPi?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":360,"y":720,"wires":[["f0ea8d55.7ff4c8"],["a2c993c2.d93cb8"]]},{"id":"f0ea8d55.7ff4c8","type":"telegrambot-switch","z":"af576b28.ff7988","name":"","bot":"6e529b50.5e02fc","chatId":"","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":540,"y":720,"wires":[["418ed0a9.f994e"],["a2c993c2.d93cb8"]]},{"id":"418ed0a9.f994e","type":"restart","z":"af576b28.ff7988","name":"","x":730,"y":720,"wires":[]},{"id":"a2c993c2.d93cb8","type":"telegrambot-switch","z":"af576b28.ff7988","name":"","bot":"6e529b50.5e02fc","chatId":"","question":"Spegnerlo?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":540,"y":780,"wires":[["cab663b0.e4cc38"],[]]},{"id":"b829788c.3bb83","type":"shutdown","z":"af576b28.ff7988","name":"","x":900,"y":780,"wires":[]},{"id":"342b2ff6.93c0f8","type":"delay","z":"af576b28.ff7988","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":880,"wires":[["918c4751.4e26c","f715505.6c83fb","b9b05263.2db178"]]},{"id":"cab663b0.e4cc38","type":"telegrambot-switch","z":"af576b28.ff7988","name":"","bot":"6e529b50.5e02fc","chatId":"","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":720,"y":780,"wires":[["b829788c.3bb83"],[]]},{"id":"b5453231.87b0b","type":"start-up-trigger","z":"af576b28.ff7988","x":140,"y":880,"wires":[["342b2ff6.93c0f8"]]},{"id":"f715505.6c83fb","type":"telegrambot-notify","z":"af576b28.ff7988","name":"x Mamma","bot":"6e529b50.5e02fc","chatId":"863140498","message":"Il Sistema Tenda è operativo!","parseMode":"","x":520,"y":940,"wires":[]},{"id":"b9b05263.2db178","type":"telegrambot-notify","z":"af576b28.ff7988","name":"x Lidia","bot":"6e529b50.5e02fc","chatId":"","message":"Il Sistema Tenda è operativo!","parseMode":"","x":510,"y":1000,"wires":[]},{"id":"dfe374f9.8b6e7","type":"ui_group","z":"","name":"Default","tab":"dde4cb93.133c08","order":1,"disp":true,"width":"6","collapse":false},{"id":"6e529b50.5e02fc","type":"telegrambot-config","z":"","botname":"Tenda","usernames":"Stramon1um,luiginamaver,flaviomaver","chatIds":"","pollInterval":"300"},{"id":"dde4cb93.133c08","type":"ui_tab","z":"","name":"servo","icon":"dashboard","disabled":false,"hidden":false}]