node_red_flows/flows_rpi4.json
[{"id":"b937a168.83712","type":"tab","label":"camera_bot","disabled":false,"info":""},{"id":"9176bc4e.87293","type":"telegrambot-command","z":"b937a168.83712","d":true,"name":"Reboot RaspberryPi","bot":"adb85416.3a2058","command":"/reset_pi","commandType":"str","commandCase":true,"x":130,"y":180,"wires":[["16efd7d0.170498"]]},{"id":"e0927d22.647c3","type":"telegrambot-notify","z":"b937a168.83712","d":true,"name":"","bot":"adb85416.3a2058","chatId":"109140731","message":"Il Sistema è operativo!","parseMode":"","x":600,"y":360,"wires":[]},{"id":"16efd7d0.170498","type":"telegrambot-switch","z":"b937a168.83712","d":true,"name":"","bot":"adb85416.3a2058","chatId":"109140731","question":"Reboot RaspberryPi?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":340,"y":180,"wires":[["794d6daf.da32a4"],["6c729316.5692cc"]]},{"id":"794d6daf.da32a4","type":"telegrambot-switch","z":"b937a168.83712","d":true,"name":"","bot":"adb85416.3a2058","chatId":"109140731","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":520,"y":180,"wires":[["3da8896f.ecefb6"],["6c729316.5692cc"]]},{"id":"3da8896f.ecefb6","type":"restart","z":"b937a168.83712","d":true,"name":"","x":710,"y":180,"wires":[]},{"id":"6c729316.5692cc","type":"telegrambot-switch","z":"b937a168.83712","d":true,"name":"","bot":"adb85416.3a2058","chatId":"109140731","question":"Spegnerlo?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":520,"y":240,"wires":[["169b0e68.98dd72"],[]]},{"id":"9c6b8460.008428","type":"shutdown","z":"b937a168.83712","d":true,"name":"","x":880,"y":240,"wires":[]},{"id":"53276272.f5190c","type":"start-up-trigger","z":"b937a168.83712","d":true,"x":200,"y":360,"wires":[["371de119.d6ac9e"]]},{"id":"371de119.d6ac9e","type":"delay","z":"b937a168.83712","d":true,"name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":360,"wires":[["e0927d22.647c3"]]},{"id":"169b0e68.98dd72","type":"telegrambot-switch","z":"b937a168.83712","d":true,"name":"","bot":"adb85416.3a2058","chatId":"109140731","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":700,"y":240,"wires":[["9c6b8460.008428"],[]]},{"id":"bf0671ac.7ad56","type":"camerapi-takephoto","z":"b937a168.83712","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"9","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":300,"y":560,"wires":[["c8b918cc.519508","fca6995e.0311f8","b5100d9a.e21e6"]]},{"id":"c8b918cc.519508","type":"debug","z":"b937a168.83712","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":520,"wires":[]},{"id":"fca6995e.0311f8","type":"image","z":"b937a168.83712","d":true,"name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":920,"y":560,"wires":[[]]},{"id":"e82dc3cb.063a5","type":"rpi-neopixels","z":"b937a168.83712","name":"","pixels":"60","bgnd":"0,0,0","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","brightness":"50","gamma":true,"x":350,"y":80,"wires":[]},{"id":"4c7b7ce.a7bf684","type":"inject","z":"b937a168.83712","name":"","topic":"","payload":"Blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["e82dc3cb.063a5"]]},{"id":"3c0e1686.163c12","type":"telegrambot-payload","z":"b937a168.83712","name":"","bot":"adb85416.3a2058","chatId":"","sendMethod":"sendPhoto","payload":"","x":550,"y":760,"wires":[[]]},{"id":"b5100d9a.e21e6","type":"function","z":"b937a168.83712","name":"","func":"msg.method = \"sendPhoto\";\nmsg.payload = {\n    photo: msg.payload,\n    caption: \"ciao\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":660,"wires":[["3c0e1686.163c12","7699e225.420b74"]]},{"id":"7699e225.420b74","type":"debug","z":"b937a168.83712","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":680,"wires":[]},{"id":"66c1dbd8.e6b684","type":"telegrambot-command","z":"b937a168.83712","name":"","bot":"adb85416.3a2058","command":"/photo","commandType":"str","commandCase":false,"x":110,"y":560,"wires":[["bf0671ac.7ad56"]]},{"id":"adb85416.3a2058","type":"telegrambot-config","z":"","botname":"Cam_Bot","usernames":"Stramon1um","chatIds":"","pollInterval":"300"}]