node_red_flows/flows_zero.json
[{"id":"77733747.3e84d8","type":"tab","label":"Sensors","disabled":false,"info":""},{"id":"3741870.ba8f37a","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"test/message","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":190,"y":140,"wires":[["e291aae9.6fd418","3bd1dd38.2ac662"]]},{"id":"ac241398.cb47a","type":"ui_chart","z":"77733747.3e84d8","d":true,"name":"","group":"1906cb4f.0f2f25","order":1,"width":6,"height":1,"label":"Temperature RPi","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff080f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#da2627","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":100,"wires":[[]]},{"id":"81e374f.94b8388","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":210,"y":340,"wires":[["fcecdcb1.b0681","5014c9f5.6c5118","8e6fa756.e014c8","5b075bb2.994194"]]},{"id":"fcecdcb1.b0681","type":"ui_chart","z":"77733747.3e84d8","d":true,"name":"","group":"1906cb4f.0f2f25","order":4,"width":3,"height":2,"label":"Temperature Ext","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":340,"wires":[[]]},{"id":"6a00253e.7b68dc","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"c961b9cd.c099d8","x":200,"y":420,"wires":[["d93c509f.c888a","57c44436.73de4c","f10d873b.f66c28","f34aeb94.18a0a8"]]},{"id":"d93c509f.c888a","type":"ui_chart","z":"77733747.3e84d8","d":true,"name":"","group":"1906cb4f.0f2f25","order":5,"width":3,"height":2,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":420,"wires":[[]]},{"id":"81b4b265.8f882","type":"mqtt in","z":"77733747.3e84d8","name":"","topic":"esp32/pressure","qos":"2","datatype":"utf8","broker":"c961b9cd.c099d8","x":200,"y":500,"wires":[["eec9c36c.93522","1d357a0e.8c1666","1fa1ea31.c32626","9451a9d6.d31ab8"]]},{"id":"eec9c36c.93522","type":"ui_chart","z":"77733747.3e84d8","name":"","group":"1906cb4f.0f2f25","order":3,"width":6,"height":2,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":500,"wires":[[]]},{"id":"412c4e5d.60e55","type":"mqtt out","z":"77733747.3e84d8","name":"","topic":"esp32/relay","qos":"2","retain":"","broker":"c961b9cd.c099d8","x":1010,"y":1060,"wires":[]},{"id":"e2aea29a.b441f","type":"ui_gauge","z":"77733747.3e84d8","name":"","group":"3d344643.ace30a","order":1,"width":3,"height":2,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":300,"wires":[]},{"id":"a1e99605.346cd8","type":"ui_gauge","z":"77733747.3e84d8","name":"","group":"3d344643.ace30a","order":2,"width":3,"height":2,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":380,"wires":[]},{"id":"a658f1ca.9970c","type":"ui_gauge","z":"77733747.3e84d8","name":"","group":"3d344643.ace30a","order":3,"width":3,"height":2,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":"980","max":"1035","colors":["#ff0505","#e6e600","#2ef011"],"seg1":"","seg2":"","x":600,"y":460,"wires":[]},{"id":"f0ffa12.6e2c56","type":"inject","z":"77733747.3e84d8","d":true,"name":"Schedule Relay 1","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":210,"y":1040,"wires":[["6fe78d2a.7edf64"]]},{"id":"ac9e060b.e614e8","type":"moment","z":"77733747.3e84d8","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Rome","adjAmount":"0","adjType":"hours","adjDir":"add","format":"D/MM/YYYY H:mm","locale":"en_US","output":"","outputType":"msg","outTz":"Europe/Rome","x":820,"y":580,"wires":[["b77fd42a.2573c8","c7c95d13.6a72f"]]},{"id":"b77fd42a.2573c8","type":"join","z":"77733747.3e84d8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":420,"wires":[["51f18e33.d6167"]]},{"id":"1d357a0e.8c1666","type":"trigger","z":"77733747.3e84d8","op1":"","op2":"","op1type":"date","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":600,"y":580,"wires":[["ac9e060b.e614e8"]]},{"id":"5014c9f5.6c5118","type":"delay","z":"77733747.3e84d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":340,"wires":[["b77fd42a.2573c8"]]},{"id":"57c44436.73de4c","type":"delay","z":"77733747.3e84d8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":420,"wires":[["b77fd42a.2573c8"]]},{"id":"1fa1ea31.c32626","type":"delay","z":"77733747.3e84d8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":500,"wires":[["b77fd42a.2573c8"]]},{"id":"51f18e33.d6167","type":"file","z":"77733747.3e84d8","name":"","filename":"/home/pi/github/shiny_app/meteo.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1270,"y":420,"wires":[[]]},{"id":"c7c95d13.6a72f","type":"ui_text","z":"77733747.3e84d8","group":"3d344643.ace30a","order":7,"width":3,"height":1,"name":"","label":"Last update: ","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":580,"wires":[]},{"id":"e291aae9.6fd418","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperature RPi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["ac241398.cb47a","6f413a14.cb0ba4"]]},{"id":"8e6fa756.e014c8","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperature","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":300,"wires":[["e2aea29a.b441f","6f413a14.cb0ba4","eb2b9904.a86388"]]},{"id":"f10d873b.f66c28","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":380,"wires":[["a1e99605.346cd8","6f413a14.cb0ba4","eb2b9904.a86388"]]},{"id":"9451a9d6.d31ab8","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[["a658f1ca.9970c","eb2b9904.a86388"]]},{"id":"6f413a14.cb0ba4","type":"ui_chart","z":"77733747.3e84d8","name":"","group":"1906cb4f.0f2f25","order":2,"width":6,"height":4,"label":"Multi Plot","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":200,"wires":[[]]},{"id":"6fe78d2a.7edf64","type":"ui_button","z":"77733747.3e84d8","name":"Relay 1 ON","group":"3d344643.ace30a","order":5,"width":1,"height":1,"passthru":true,"label":"ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"esp/relay","x":810,"y":1040,"wires":[["412c4e5d.60e55"]]},{"id":"43031e88.0850c","type":"ui_button","z":"77733747.3e84d8","name":"Relay 1 OFF","group":"3d344643.ace30a","order":6,"width":1,"height":1,"passthru":true,"label":"OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"esp/relay","x":810,"y":1080,"wires":[["412c4e5d.60e55"]]},{"id":"e361df9f.2752c","type":"ui_text","z":"77733747.3e84d8","group":"3d344643.ace30a","order":4,"width":1,"height":1,"name":"","label":"Relay 1","format":"{{msg.payload}}","layout":"row-center","x":800,"y":1000,"wires":[]},{"id":"3bd1dd38.2ac662","type":"function","z":"77733747.3e84d8","d":true,"name":"","func":"if (msg.payload > 1) {\n   return [msg]\n}","outputs":1,"noerr":0,"x":370,"y":180,"wires":[[]]},{"id":"9bb87c86.746c7","type":"homekit-service","z":"77733747.3e84d8","isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Lampadina","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Maurone & Co","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","x":190,"y":960,"wires":[["105514e3.aecbbb"],[]]},{"id":"fab2c8b5.bbbf58","type":"switch","z":"77733747.3e84d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":960,"wires":[["6fe78d2a.7edf64"],["43031e88.0850c"]]},{"id":"105514e3.aecbbb","type":"function","z":"77733747.3e84d8","name":"conversion from TRUE to ON","func":"if(msg.payload.On === true){\n        return [{\"payload\":\"ON\"}];\n    }\n    if(msg.payload.On === false){\n        return [{\"payload\":\"OFF\"}];\n\n    }\n    ","outputs":1,"noerr":0,"x":420,"y":960,"wires":[["fab2c8b5.bbbf58"]]},{"id":"93a82af3.0b5f78","type":"homekit-service","z":"77733747.3e84d8","isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Temperature","serviceName":"TemperatureSensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentTemperature\" : 0,\n    \"StatusActive\" : true\n}","x":1370,"y":480,"wires":[[],[]]},{"id":"5b075bb2.994194","type":"change","z":"77733747.3e84d8","name":"Set playoad to Temperature","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.CurrentTemperature","tot":"msg"},{"t":"set","p":"payload.StatusActive","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":480,"wires":[["93a82af3.0b5f78"]]},{"id":"62485956.6c5048","type":"homekit-service","z":"77733747.3e84d8","isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Humidity","serviceName":"HumiditySensor","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"CurrentRelativeHumidity\" : 0,\n    \"StatusActive\" : true\n}","x":1360,"y":520,"wires":[[],[]]},{"id":"f34aeb94.18a0a8","type":"change","z":"77733747.3e84d8","name":"Set playoad to Humidity","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.CurrentRelativeHumidity","tot":"msg"},{"t":"set","p":"payload.StatusActive","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":520,"wires":[["62485956.6c5048"]]},{"id":"5748818d.3daf6","type":"switch","z":"77733747.3e84d8","d":true,"name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"str"},{"t":"lt","v":"90","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":1120,"wires":[[],[]]},{"id":"2f2da517.300c8a","type":"telegrambot-command","z":"77733747.3e84d8","name":"Reboot RaspberryPi","bot":"27cf9d7e.077232","command":"/reset_pi","commandType":"str","commandCase":true,"x":210,"y":1980,"wires":[["af78c4fd.f06858"]]},{"id":"7c202209.0e552c","type":"telegrambot-notify","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","message":"Il Sistema RPi Zero è operativo!","parseMode":"","x":600,"y":2140,"wires":[]},{"id":"9c4ecb6.88bf738","type":"telegrambot-command","z":"77733747.3e84d8","name":"Relay1","bot":"27cf9d7e.077232","command":"/relay1","commandType":"str","commandCase":false,"x":170,"y":1200,"wires":[["76868207.4e660c"]]},{"id":"76868207.4e660c","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Accendere o Spegnere?","answers":["Accendere","Spegnere"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":420,"y":1200,"wires":[["6fe78d2a.7edf64"],["43031e88.0850c"]]},{"id":"1f8fb6c2.7c3fd9","type":"telegrambot-payload","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","sendMethod":"","payload":"","x":810,"y":700,"wires":[[]]},{"id":"625ab617.4511e8","type":"telegrambot-command","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","command":"/meteo","commandType":"str","commandCase":false,"x":210,"y":740,"wires":[["f8b9a17.623146"]]},{"id":"66e9f037.12b23","type":"q-gate","z":"77733747.3e84d8","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"1","keepNewest":true,"qToggle":false,"persist":false,"x":630,"y":700,"wires":[["1f8fb6c2.7c3fd9"]]},{"id":"f8b9a17.623146","type":"change","z":"77733747.3e84d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"peek","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":740,"wires":[["66e9f037.12b23"]]},{"id":"eb2b9904.a86388","type":"join","z":"77733747.3e84d8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":210,"y":660,"wires":[["3a9cc5bd.3eccba"]]},{"id":"3a9cc5bd.3eccba","type":"function","z":"77733747.3e84d8","name":"build the message for Telegram","func":"msg.method = \"sendMessage\";\nmsg.payload = {\n    text:\"Temp: \"+ msg.payload.Temperature +\" °C\\nHumidity: \"+msg.payload.Humidity+\" %\\nPressure: \"+msg.payload.Pressure+\" hPa\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["66e9f037.12b23"]]},{"id":"af78c4fd.f06858","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Reboot RaspberryPi?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":420,"y":1980,"wires":[["3f8d3155.93685e"],["34630f81.42e1e"]]},{"id":"3f8d3155.93685e","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":600,"y":1980,"wires":[["cbd5e6b6.74e0e8"],["34630f81.42e1e"]]},{"id":"cbd5e6b6.74e0e8","type":"restart","z":"77733747.3e84d8","name":"","x":790,"y":1980,"wires":[]},{"id":"34630f81.42e1e","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Spegnerlo?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":600,"y":2040,"wires":[["80c0d539.26e858"],[]]},{"id":"f030b61f.1c1138","type":"shutdown","z":"77733747.3e84d8","name":"","x":960,"y":2040,"wires":[]},{"id":"7224ad6d.7cc914","type":"start-up-trigger","z":"77733747.3e84d8","x":200,"y":2140,"wires":[["c2214080.a8148"]]},{"id":"c2214080.a8148","type":"delay","z":"77733747.3e84d8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":2140,"wires":[["7c202209.0e552c"]]},{"id":"8c088678.8e5eb8","type":"homekit-rgb","z":"77733747.3e84d8","d":true,"name":"","x":330,"y":1420,"wires":[["f1a5e7c4.db61c8"]]},{"id":"9fcbeba4.2448e8","type":"homekit-service","z":"77733747.3e84d8","d":true,"isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"LED","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"Brightness\":true,\n    \"Hue\":true,\n    \"Saturation\":true\n}","x":170,"y":1420,"wires":[["8c088678.8e5eb8"],[]]},{"id":"f1a5e7c4.db61c8","type":"function","z":"77733747.3e84d8","d":true,"name":"split from array to string","func":"//msg.payload = msg.payload[0]\n\nreturn [{payload: String(msg.payload[0])}, {payload: String(msg.payload[1])},{payload: String(msg.payload[2])}, {payload: String(msg.payload)}]\n","outputs":4,"noerr":0,"x":530,"y":1420,"wires":[["128b0c4a.9c1fe4"],["19bda3f3.319f6c"],["52eac1d.2addc4"],[]]},{"id":"f12d153e.952f88","type":"rpi-gpio out","z":"77733747.3e84d8","d":true,"name":"Rosso","pin":"11","set":false,"level":"0","freq":"100","out":"pwm","x":930,"y":1380,"wires":[]},{"id":"c44f335b.3e96d","type":"rpi-gpio out","z":"77733747.3e84d8","d":true,"name":"Verde","pin":"15","set":false,"level":"0","freq":"100","out":"pwm","x":930,"y":1420,"wires":[]},{"id":"f2137178.4374f","type":"rpi-gpio out","z":"77733747.3e84d8","d":true,"name":"Blue","pin":"13","set":false,"level":"0","freq":"100","out":"pwm","x":930,"y":1460,"wires":[]},{"id":"128b0c4a.9c1fe4","type":"range","z":"77733747.3e84d8","d":true,"minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":760,"y":1380,"wires":[["f12d153e.952f88"]]},{"id":"19bda3f3.319f6c","type":"range","z":"77733747.3e84d8","d":true,"minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":760,"y":1420,"wires":[["c44f335b.3e96d"]]},{"id":"52eac1d.2addc4","type":"range","z":"77733747.3e84d8","d":true,"minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":760,"y":1460,"wires":[["f2137178.4374f"]]},{"id":"80c0d539.26e858","type":"telegrambot-switch","z":"77733747.3e84d8","name":"","bot":"27cf9d7e.077232","chatId":"109140731","question":"Sicuro Sicuro?","answers":["Si","No"],"outputs":2,"autoAnswerCallback":true,"timeoutValue":"","timeoutUnits":"","x":780,"y":2040,"wires":[["f030b61f.1c1138"],[]]},{"id":"a884f1f.c26181","type":"rpi-neopixels","z":"77733747.3e84d8","d":true,"name":"","pixels":"8","bgnd":"0,0,0","fgnd":"","wipe":"40","mode":"pcent","rgb":"rgb","brightness":"100","gamma":true,"x":710,"y":1700,"wires":[]},{"id":"d69db6b9.d435b8","type":"inject","z":"77733747.3e84d8","d":true,"name":"","topic":"","payload":"50,#FF00FF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":1700,"wires":[["a884f1f.c26181"]]},{"id":"d0e45a1a.12b6a8","type":"homekit-rgb","z":"77733747.3e84d8","d":true,"name":"","x":330,"y":1620,"wires":[["4b0f97ca.4dd218"]]},{"id":"7f27eaf3.3ce2c4","type":"homekit-service","z":"77733747.3e84d8","d":true,"isParent":true,"bridge":"a46c3753.50a598","parentService":"","name":"Strip LED","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","firmwareRev":"","hardwareRev":"","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\n    \"Brightness\":true,\n    \"Hue\":true,\n    \"Saturation\":true\n}","x":180,"y":1620,"wires":[["d0e45a1a.12b6a8"],[]]},{"id":"4b0f97ca.4dd218","type":"function","z":"77733747.3e84d8","d":true,"name":"array to string","func":"return [{payload: String(msg.payload)}];","outputs":1,"noerr":0,"x":530,"y":1620,"wires":[["afaaef37.55652","a884f1f.c26181"]]},{"id":"afaaef37.55652","type":"debug","z":"77733747.3e84d8","d":true,"name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":1620,"wires":[]},{"id":"c17b0e4b.fa8e8","type":"function","z":"77733747.3e84d8","d":true,"name":"Rainbow Effect","func":"var numberOfLEDs = 8;\n\nfor(i=0; i<255; i++){\n    \n    for(j=0; j<numberOfLEDs; j++){\n        \n        var pos = 0;\n        pos = Math.round(((j*255/numberOfLEDs)+i))&255;\n        \n        if(pos<85){\n            var red = pos*3;\n            var green = 255-pos*3;\n            var blue = 0;\n        }\n        else if(pos < 170){\n            pos -= 85;\n            var red = 255 - pos*3;\n            var green = 0;\n            var blue = pos*3;\n        }\n        else{\n            pos -= 170;\n            var red = 0;\n            var green = pos*3;\n            var blue = 255-pos*3;\n        }\n        var setColor = j+','+ red +','+ green +','+ blue;\n        node.send({payload:setColor});\n    }\n}","outputs":1,"noerr":0,"x":340,"y":1760,"wires":[["9108b056.019ae"]]},{"id":"7abab229.5c0d5c","type":"telegrambot-command","z":"77733747.3e84d8","d":true,"name":"","bot":"27cf9d7e.077232","command":"/rainbow","commandType":"str","commandCase":false,"x":150,"y":1760,"wires":[["c17b0e4b.fa8e8"]]},{"id":"9108b056.019ae","type":"delay","z":"77733747.3e84d8","d":true,"name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":1760,"wires":[["a884f1f.c26181"]]},{"id":"c961b9cd.c099d8","type":"mqtt-broker","z":"","name":"rasp","broker":"192.168.1.18","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1906cb4f.0f2f25","type":"ui_group","z":"","name":"prova","tab":"57c08da9.6f0c24","order":1,"disp":false,"width":6,"collapse":false},{"id":"3d344643.ace30a","type":"ui_group","z":"","name":"","tab":"636b8e27.65e23","order":1,"disp":false,"width":3,"collapse":false},{"id":"a46c3753.50a598","type":"homekit-bridge","z":"","bridgeName":"HomeKIT","pinCode":"111-11-111","port":"","allowInsecureRequest":false,"manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"27cf9d7e.077232","type":"telegrambot-config","z":"","botname":"Casa_Remote","usernames":"Stramon1um","chatIds":"109140731","pollInterval":"300"},{"id":"57c08da9.6f0c24","type":"ui_tab","z":"","name":"Plots","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"636b8e27.65e23","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]